* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus{
 outline: none; 
}

body {
  background-color: #010101;
  overflow-x: hidden;
}

h1 {
  color: rgb(231, 116, 135);
  font-size: 4vw;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

.container {
  background-color: orange;
  border: 2px solid red;
  border-radius: 2vw 5vw 1vw 4vw;
  width: 70vw;
  height: 40vh;
  margin: 5vh auto;
  box-shadow: 1vw 0.5vw rgb(23, 21, 18);
  text-align: center;
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(11, 1, 1, 0.856);
  font-size: 5vw;
  margin: 5vw;
}

.btn {
  margin: 5vw;
}

button {
  background-color: blueviolet;
  width: 11vw;
  height: 6vh;
  margin: 1vw;
  position: relative;
  left: 20vw;
  font-size: 2vw;
  border: 0.1vw solid rgb(65, 167, 65);
  border-radius: 0.4vw 0.9vw;
  font-family: "Times New Roman", Times, serif;
}

button:hover {
  background-color: rgb(57, 203, 25);
  color: white;
  border: 0.2 solid black;
}

#laps-container {
  text-align: center;
  border: 2px solid black;
  padding: 2vw;

  overflow-y: auto;
  margin: 2vh auto;
  border-radius: 0.5vw;
}

#laps-container p {
  margin: 1vw 0.5vw;
  font-size: 1.5vw;
  width: 50vw;
  background-color: red;
  color: black;
}

.lap-box {
  background-color: red;
}
 @media only screen and (max-width: 600px) {
  h1 {
    position: relative;
    top: 5vh;
    font-size: 6vw;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    margin-left: 15vw;
  }
  .timer {
    font-size: 8vw;
  } 
  .btn {
    margin: 8vw;
  }
  button {
    display: inline;
    flex-wrap: wrap;
    position: relative;
    top: 8vh;
    width: 20vw;
    height: 5vh;
    font-size: 4vw;
    position: relative;
    left: -4vw;
    border: 0.5vw solid rgb(65, 167, 65);
    border-radius: 2vw 1vw 1vw 1vw;
  }
  #laps-container {
    max-width: 60vw;
    position: relative;
    top: 5vh;
  }
  #laps-container p {
    font-size: 3vw;
    width: 70vw;
    margin: 2vw 1vw;
  }
  main:hover{
    displ
  }
} 
